body {
  background-color: rgb(218, 225, 231);
  background-image: url("bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ui {
  color: rgb(235, 236, 234);
}

.con {
  border-radius: 15px;
  display: grid;
  place-items: center;
  width: 400px;
  height: 400px;
  background: rgb(0, 0, 0, 0.2);
}
.fl {
  width: 200px;
  height: 70px;
}

input {
  width: 200px;
  height: 40px;
  background-color: rgba(127, 255, 212, 0.219);
  border-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.button{
    width: 120px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(55, 55, 184);
  color: aliceblue;
  font-size: larger;
  font-style: oblique;
}